<nav>
  <a ui-sref-active="active" ui-sref="characters">Characters</a>
  <a ui-sref-active="active" ui-sref="episodes">Episodes</a>
</nav>

<main ng-controller="CharacterController as char">
  <h2 ng-show="char.selectedCharacter">{{ char.selectedCharacter.name }} wields a <span class="{{ char.selectedCharacter.lightsaber | lowercase }}">{{ char.selectedCharacter.lightsaber }}</span> lightsaber</h2>

  <form name="char.newCharacter" ng-submit="char.addCharacter()">
    <label>Name</label>
    <input type="text" name="name" ng-model="char.character.name">
    <label>Lightsaber</label>
    <input type="text" name="lightsaber" ng-model="char.character.lightsaber">
    <input type="submit" value="Add">
  </form>

  <h1>The Lightsaber Database</h1>
  <ul>
    <li ng-repeat="character in char.characters" ng-click="char.selectCharacter(character)">
      {{ character.firstName }}'s lightsaber is <span class="{{ character.lightsaber | lowercase }}">{{ character.lightsaber }}</span> <a href="#" ng-click="char.editCharacter(character)">Edit</a> <button ng-click="char.deleteCharacter(character)">Delete</button>
    </li>
  </ul>
</main>
